CommunicationSolutionGo/Seminar.Service.ConsoleClient/Service References/ServiceClient/UserService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Seminar.DataSource" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Seminar.DataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="U" nillable="true" type="tns:U" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfU" nillable="true" type="tns:ArrayOfU" />
  <xs:complexType name="U">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="N" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="R" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="P" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="U" nillable="true" type="tns:U" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>