CommunicationSolutionGo/Seminar.Service.ConsoleClient/Service References/ServiceClient/UserService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://svc.meinefirma.de/userService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://svc.meinefirma.de/userService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://svc.meinefirma.de/userService/Imports">
      <xsd:import schemaLocation="https://svc.meinefirma.de:4443/UserService.svc?xsd=xsd0" namespace="http://svc.meinefirma.de/userService" />
      <xsd:import schemaLocation="https://svc.meinefirma.de:4443/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Seminar.Service" />
      <xsd:import schemaLocation="https://svc.meinefirma.de:4443/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://svc.meinefirma.de:4443/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Seminar.DataSource" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAll_UserFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Seminar.Service" name="detail" element="q1:UserFault" />
  </wsdl:message>
  <wsdl:message name="IUserService_Count_InputMessage">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="IUserService_Count_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://svc.meinefirma.de/userService/IUserService/GetAll" message="tns:IUserService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="AllResult" message="tns:IUserService_GetAll_OutputMessage" />
      <wsdl:fault wsaw:Action="http://svc.meinefirma.de/userService/IUserService/GetAllUserFaultFault" name="UserFaultFault" message="tns:IUserService_GetAll_UserFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:input wsaw:Action="http://svc.meinefirma.de/userService/IUserService/Count" message="tns:IUserService_Count_InputMessage" />
      <wsdl:output wsaw:Action="CountResult" message="tns:IUserService_Count_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>