CommunicationSolutionGo/Seminar.Service.ConsoleClient/Service References/ServiceClient/UserService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://svc.meinefirma.de/userService" elementFormDefault="qualified" targetNamespace="http://svc.meinefirma.de/userService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://svc.meinefirma.de:4443/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Seminar.DataSource" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Seminar.DataSource" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>